body {
  background-color: #eae0d7;
  color: #05466e;
  font-size: 15px;
}

header {
  background-color: #eae0d7;
  text-align: center;
  border: 10px solid #db801f;
  box-shadow: 5px 5px #38ccf4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 97px;
}

.logo {
  display: flex;
}

.text-content {
  font-size: 1.2em;
}

.main-placement {
  margin-top: 147px;
  margin-left: 150px;
  padding: 10px;
}

.main-content {
  border: 10px solid #ecb573;
  z-index: -1;
  padding: 20px;
  margin: 0 auto;
}

.resizer {
  width: 120px;
  height: 97px;
}

.sidenav {
  height: 100%;
  width: 150px;
  position: fixed;
  left: 0;
  top: 117px;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #05466e;
  width: 70%;
  display: block;
  height: 50px;
  background: #db801f;
  transition: width 1s;
  box-shadow: 5px 5px #38ccf4;
  margin-bottom: 25px;
}

.sidenav a:hover {
  color: #38ccf4;
  width: 90%;
}


footer {
  position: fixed;
  bottom:0;
  margin: 0 auto;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #097E9F;
  color: white;
  border-radius: 5%;
}

.fa-instagram {
  background: #097E9F;
  color: white;
  border-radius: 5%;
}