body {
  background-color:#bfd6ed;
  margin: 0;
  padding: 0;
}

h1 a {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 50px;
  color: #dfd7d5;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9B3414;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 50px;
  color: #dfd7d5;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #9B3414;
  margin: 20px;
}

.hero {
  background-size: cover;
  background-position: center 45%;
  height: 30vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  background-image: url(img/hero_Spoonbills.jpg);
}

.logo img {
  height: 90px;
  width: 90px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: sticky; 
  top:0;
  background-color: #699bce;
  z-index: 1;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);

}

nav a {
  text-decoration: none;
  color: #9B3414;
  font-size: 20px;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #699bce;
}

nav a:hover {
  color:#dfd7d5;
  border-radius: 3px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 3px solid #9B3414;
  background-color: #dfd7d5;
  border-radius: 30px;
  box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
}


.photocard {
  display: flex;
  flex-direction: row;
  color: white;
  border-radius: 30px;
  box-shadow: 12px 10px 17px rgba(0, 0, 0, 0.3);
  margin: 10px;
  font-size: 15px;
  position: relative;
  overflow-x: scroll;
  border: 3px solid #2b73a0;;  
}

.photo {
  width: 80vw;
  height: 50vw;
  object-fit: cover;
  margin-left: 0;
  margin-right: 0;

}

.photo:hover{
  opacity: 0.7;
  cursor: pointer;
}

.cards {
  width: 80vw;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
  flex-direction: column;
}

.photo-about{
  border-radius: 30px;
  border: 2px solid #2b73a0;
  height: 70vw;
  margin-right: 0;
}

.photo-work {
  border-radius: 30px;
  border: 2px solid #2b73a0;
  width: 60vw;
  margin-right: 0;
}

.text-about {
  height: 200px;
  overflow-y: scroll;
  margin-top: 15px;
  margin-left: 0;
}

.text-work {
  height: 200px;
  overflow-y: scroll;
  margin-top: 15px;
  margin-left: 0;
}


main{
  margin: 30px;
  font-size: 18px;
  color: #2b73a0;
}

.social_media_buttons {
  border-radius: 10px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 15px;
}

.social_media_buttons a {
  background-color: #dfd7d5;
  font-size: 25px; 
  border-radius: 5%;
  color: #9B3414;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
}

.social_media_buttons a:hover {
  background-color:#2b73a0;
  color: #dfd7d5;
}

.background {
  background-image: url(img/hero_Spoonbills.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70vw;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  border: 3px solid #dfd7d5;
  margin-top: 50px;
  
}

.contact_buttons {
  border-radius: 10px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 0;
  text-align: center;
}

.contact p {
  margin-top:0;
}

.contact h2 {
  margin-bottom: 10px;
}

footer {
  background-color: #699bce;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact_buttons a {
  background-color: #dfd7d5;
  font-size: 25px; 
  border-radius: 5%;
  color: #9B3414;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
}

.contact_buttons a:hover {
  background-color:#2b73a0;
  color: #dfd7d5;
}


form {
    width: 70vw;
    padding: 20px;
    margin: 0 auto ;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    border: 3px solid #dfd7d5;
}


.form-element{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.form-submit {
  justify-content: flex-end;
}

label, input, select {
  flex: 1;
  padding: 5px;
}

button {
  color: white;
  background-color: #9B3414;
  border: none;
  padding: 8px 16px;
  border-radius: 5%;
  margin-top: 10px;

}

button:hover{
  background-color: #2b73a0;
}

.fa {
  width: 50px;
}

.thank-you {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70vw;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  border: 3px solid #dfd7d5;
}

.thank-you a {
  text-align: center;
  background-color: #dfd7d5;
  color: #9B3414;
  border-radius: 5%;
  padding: 20px;
  text-decoration: none;
}

.thank-you a:hover {
  background-color:#2b73a0;
  color:#dfd7d5;
}



@media (min-width: 600px) {
  nav {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hero {
    flex-direction: row;
  }

  .contact_buttons{
    flex-direction: row;
  }

  .social_media_buttons {
    flex-direction: row;
    justify-content: center;
  }

  main, footer, .photocard {
    font-size: 20px;
  }
  .contact_buttons a {
    margin-left: 0;
    margin-right: 0;
  }

  .contact-info {
    flex-direction: row;
  }

  header h1 {
    font-size: 60px;
  }

  h1 a {
    font-size: 60px;
  }

  main h2 {
    font-size: 35px;
  }

  .contact-info {
    gap: 50px;
  }

  .contact{
    margin-top: 100px;
  }

  nav a {
    font-size: 25px;
}

.photo-about {
  width:350px;
  height: 400px;
}

.photo-work {
  width:350px;
  height: 400px;
}

}

@media (min-width: 1100px) {
  .text-about {
      overflow-y:visible;
    }

  .text-work {
    overflow-y:visible;
  }

  .contact{
    flex-direction: row;
    text-align: none;
    justify-content: space-evenly;
  }


} 

@media (min-width: 800px) {
  .card {
      flex-direction: row;
  }

  .photo {
    height:400px;
    margin-right: 10px;
  }

  .text-about {
    height: 400px;
    margin-top: none;
    margin-left:40px;
  }
  
  .text-work {
    height: 400px;
    margin-top: none;
    margin-left:40px;
  }
}
