body {
  background-color:#dfb376;
  margin: 0;
  padding: 0;
}

header h1 {
  color: #DB801F;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 40px;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #05466E;
}


.hero::before {    
  content: "";
  background-image: url(https://th.bing.com/th/id/R.6580b3796877357edc2d3d31ac077aab?rik=NTrUq6Tw%2fid%2fQg&riu=http%3a%2f%2fpapers.co%2fwallpaper%2fpapers.co-vt31-feather-blue-bird-texture-pattern-27-wallpaper.jpg&ehk=BRognMimo9EOjlHumjCTUTyCRVw3%2fQXfkjb5UhOBGEo%3d&risl=&pid=ImgRaw&r=0);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
  z-index: -1;
  overflow-y: visible;
}

.hero {
  position: relative; 
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; 
  overflow-y: visible;
  display: flex;
  flex-direction: column;
}

.logo img {
  height: 90px;
  width: 90px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;

}

nav a {
  padding: 10px;
  text-decoration: none;
  color: #097E9F;
  font-size: 20px;
  height: 20px;
  background-color: #dfb376;
}

nav a:hover {
  color:#ACDDE4;
  background-color: #DB801F;
  border-radius: 3px;
}

.card {
  color: #097E9F;
  text-align: center;
  border: 3px solid #DB801F;
  background-color: #eac898;
  border-radius: 30px;
  box-shadow: 7px 10px 17px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 20px;
}

.card > ul {
  display: inline-block;
}

.photocard {
  color: white;
  border-radius: 30px;
  box-shadow: 12px 10px 17px rgba(0, 0, 0, 0.3);
  margin: 10px;
  font-size: 15px;
  position: relative;
  
}

.cards {
  width: 80vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 15px;
  flex-direction: column;
}

.photo {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  display: block;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid #097E9F;
}

.middle {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction:column;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.photocard:hover .photo {
  opacity: 0.3;
}

.photocard:hover .middle {
  opacity: 1;
}

.text {
  border-radius: 5%;
  background-color: #097E9F;
  color: white;
  padding: 16px 32px;
}

main{
  margin: 30px;
  font-size: 18px;
}


.contact_buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

footer {
  background-color: #eac898;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
}

.contact_buttons a {
  background-color: #097E9F; 
  border-radius: 5%;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}

.contact_buttons a:hover {
  background-color:#05466E;
  color: white;
}

footer .Go_back_up {
  margin: 15px;
  text-decoration: none;
  color: #097E9F;
  align-self: center;
}

footer .Go_back_up:hover {
  color:#05466E;
}

@media (min-width: 600px) {
  .hero, nav, .contact_buttons {
    flex-direction: row;

  }
  main, footer, .photocard {
    font-size: 20px;
  }
  .contact_buttons a {
    margin-left: 0;
    margin-right: 0;
  }
}